@import "normalize";
@import "libs";
@import "fonts";
@import "animate";
@import "node_modules/swiper/dist/css/swiper";
@import "node_modules/sweetalert2/src/sweetalert2";

/* basic */
.contain {
  max-width: 1600px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  @include respond-to(w-1919) {
    max-width: 1400px;
  }
  @include respond-to(w-1599) {
    max-width: 1280px;
  }
  @include respond-to(w-1366) {
    max-width: 1180px;
  }
  @include respond-to(w-1280) {
    max-width: 1140px;
  }
  @include respond-to(w-1279) {
    max-width: 920px;
  }
  @include respond-to(w-1023) {
    max-width: 100%;
    padding-left: 55px;
    padding-right: 55px;
  }
  @include respond-to(w-799) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
body {
  background-color: $color-brown;
  color: $color-yellow-lite;
  font-size: 20px;
  position: relative;
  font-family: $font-Lato_Regular;
  @include respond-to(w-1279) {
    font-size: 18px;
  }
  @include respond-to(w-1023) {
    font-size: 17px;
  }
}
.team_button {
  @include button_reset;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-yellow;
  color: $color-white;
  transition: $animation_easy;
  border-radius: 4px;
  font-size: 20px;
  font-family: $font-Lato_Regular;
  @include respond-to(w-1599) {
    height: 40px;
    font-size: 18px;
  }
  &:hover {
    background-color: $color-white;
    color: $color-brown;
  }
}
.team_header {
  width: 50%;
  margin: 50px auto 40px;
  text-align: center;
  @include respond-to(w-1279) {
    margin: 20px auto 35px;
  }
  @include respond-to(w-1023) {
    width: 60%;
    margin: 10px auto 20px;
  }
  .block {
    display: flex;
    align-items: center;
    .line {
      width: 100%;
      height: 1px;
      background-color: $color-yellow;
    }
    .mini {
      padding: 0 55px;
      word-wrap: break-word;
      color: $color-yellow;
      font-size: 22px;
      text-transform: uppercase;
      @include respond-to(w-1919) {
        font-size: 20px;
      }
      @include respond-to(w-1279) {
        font-size: 18px;
      }
    }
  }
  .text {
    color: $color-white;
    font-size: 42px;
    text-align: center;
    margin-top: 20px;
    word-wrap: break-word;
    font-family: $font-Lora_Regular;
    text-transform: uppercase;
    @include respond-to(w-1919) {
      font-size: 37px;
    }
    @include respond-to(w-1279) {
      font-size: 28px;
    }
    @include respond-to(w-1023) {
      font-size: 24px;
    }
  }
}
.block_pictext {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  @include respond-to(w-1279) {
    width: 100%;
  }
  .bn {
    width: 33.3%;
    padding: 30px;
    box-sizing: border-box;
    @include respond-to(w-1023) {
      padding: 20px;
    }
    .box {
      text-align: center;
      .image {
        @include set_contain;
        width: 105px;
        height: 105px;
        margin: auto;
      }
      .title {
        height: 50px;
        font-size: 30px;
        margin-top: 30px;
        color: $color-yellow;
        font-family: $font-Lora_Regular;
        @include respond-to(w-1919) {
          font-size: 28px;
        }
        @include respond-to(w-1279) {
          font-size: 25px;
          margin-top: 10px;
        }
        @include respond-to(w-1023) {
          font-size: 22px;
        }
      }
      .desc {
        margin-top: 30px;
        color: $color-gray;
      }
    }
  }
}
h1, h2, h3, h4 {
  font-weight: normal;
}
/* conten */
header {
  .top {
    height: 60px;
    @include respond-to(w-1599) {
      height: 50px;
    }
    .contain {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .phone {
      @include a_reset($color-white);
      display: flex;
      align-items: center;
      &:before {
        content: "\f09c";
        display: block;
        @include fontawesome;
        font-size: 20px;
        color: $color-yellow;
        margin-right: 15px;
      }
      span {
        color: $color-white;
      }
    }
  }
  .logo {
    height: 100px;
    border-bottom: 1px solid#322f32;
    @include respond-to(w-1599) {
      height: 70px
    }
    a {
      width: 265px;
      margin: 20px auto;
      display: block;
      @include respond-to(w-1599) {
        width: 230px;
        margin: 0 auto;
      }
      img {
        width: 100%;
        margin-top: -3px;
      }
    }
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    border-bottom: 1px solid#322f32;
    font-size: 16px;
    @include respond-to(w-1599) {
      height: 65px;
    }
    .mobile_menu {
      display: none;
      margin: 15px auto;
      @include respond-to(w-639) {
        display: block;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      li {
        list-style-type: none;
        margin: 0 10px;
        a {
          @include a_reset($color-white);
        }
        .active {
          color: $color-yellow;
        }
      }
    }
  }
}
.section_main {
  @include img_cover('../images/main.jpg');
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include respond-to(w-1279) {
    height: 75vh;
  }
  @include respond-to(w-1023) {
    height: 430px;
  }
  h1 {
    color: $color-white;
    text-align: center;
    font-size: 60px;
    font-family: $font-Lora_Regular;
    text-transform: uppercase;
    @include respond-to(w-1919) {
      font-size: 50px;
    }
    @include respond-to(w-1599) {
      font-size: 40px;
    }
    @include respond-to(w-1279) {
      font-size: 35px;
    }
    @include respond-to(w-1023) {
      font-size: 31px;
    }
  }
  small {
    width: 70%;
    margin: 2vw auto;
    display: block;
    text-align: center;
    font-size: 25px;
    color: $color-white;
    @include respond-to(w-1919) {
      font-size: 22px;
    }
    @include respond-to(w-1599) {
      font-size: 20px;
      margin: 1vw auto;
    }
    @include respond-to(w-1279) {
      font-size: 18px;
      margin: 10px auto;
    }
  }
}
.section_calculate {
  .contain {
    display: flex;
    background-color: $color-white;
    .team_header {
      width: 50%;
      @include respond-to(w-1279) {
        margin-top: 40px;
      }
      .block {
        width: 60%;
        margin: auto;
        @include respond-to(w-1279) {
          width: 80%;
        }
      }
      .mini {
        font-size: 22px;
        @include respond-to(w-1919) {
          font-size: 20px;
        }
        @include respond-to(w-1279) {
          padding: 0 30px;
          font-size: 18px;
        }
      }
      .text {
        width: 80%;
        margin: 23px auto 0;
        font-size: 42px;
        color: $color-black;
        font-family: $font-Lora_Regular;
        @include respond-to(w-1919) {
          font-size: 34px;
        }
        @include respond-to(w-1279) {
          font-size: 25px;
        }
      }
      .pic {
        width: 100%;
        height: 18vw;
        @include img_contain("../images/avto_pic.png");
        margin-top: 30px;
        @include respond-to(w-1279) {
          height: 24vw;
        }
      }
    }
    .calc_container {
      width: 50%;
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include respond-to(w-1023) {
        box-sizing: border-box;
        padding-left: 20px;
      }
      .calc_top {
        .calc_top_radio {
          padding: 40px 0;
          .ul-region {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            width: 100%;
            .li-region {
              width: 50%;
              padding: 0 40px;
              input[type=radio] {
                display: none;
                &:checked + label {
                  background: url(../images/icon-check-ok.svg) no-repeat left center;
                }
              }
              label {
                width: 70px;
                height: 60px;
                background: url(../images/icon-check.svg) no-repeat left center;
                background-size: contain;
                display: block;
                cursor: pointer;
                margin: 0 auto;
              }

              .text {
                font-size: 28px;
                color: $color-yellow;
                margin-top: 20px;
                text-align: center;
              }
              + .li-region {
                border-left: 1px solid $color-gray;
              }
            }
          }
        }

        .calc_top_inputs {
          border-top: 1px solid $color-gray;
          padding: 60px 0;
          @include respond-to(w-1279) {
            padding: 34px 0;
          }
          @include respond-to(w-1023) {
            padding: 34px 0 0;
          }
          .ul-input {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            padding: 0;
            margin: 0;
            justify-content: space-between;
            width: 90%;
            @include respond-to(w-1279) {
              flex-direction: column;
            }
            @include respond-to(w-1023) {
              width: 100%;
            }
            .li-input-calc {
              width: 47%;
              margin-bottom: 50px;
              box-sizing: border-box;
              @include respond-to(w-1279) {
                width: 100%;
                margin-bottom: 35px;
              }
              .calc-ui-slider-val {
                .title {
                  text-transform: uppercase;
                  font-size: 18px;
                  color: $color-brown;
                  margin-bottom: 15px;
                  @include respond-to(w-1279) {
                    font-size: 15px;
                    margin-bottom: 10px;
                  }
                }
                .num {
                  font-size: 30px;
                  color: $color-gray;
                  margin-bottom: 10px;
                  display: flex;
                  position: relative;
                  @include respond-to(w-1279) {
                    font-size: 24px;
                  }
                  input {
                    width: 100%;
                    color: inherit;
                    font-family: inherit;
                    padding: 0;
                    border: none;
                  }
                  .cost-txt {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                  }
                }
                .num_error {
                  position: relative;
                }
              }
              .calc-ui-slider {
                position: relative;
              }
              .calc-ui-slider, .calc-line {
                border-radius: 0;
                border: none;
                height: 2px;
                background: $color-gray;
                .ui-widget-header {
                  background: #0E2231;
                  border-radius: 0;
                }
                .ui-slider-handle {
                  position: absolute;
                  background: url(../images/icon-slider.svg) no-repeat center top;
                  background-size: contain;
                  width: 24px;
                  height: 24px;
                  border: none;
                  outline: none;
                  top: 0;
                  margin-left: -12px;
                  cursor: pointer;
                  display: block;
                }
              }
              input {
                width: 100%;
                height: 60px;
                background-color: #FFFFFF;
                padding: 0 20px !important;
                border-radius: 3px;
                border: none;
                font-size: 30px;
                color: #888888;
                box-sizing: border-box;
                @include respond-to(w-1366) {
                  height: 50px;
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
      .calc_bottom {
        background-color: $color-yellow;
        background-size: cover;
        padding: 40px;
        @include respond-to(ww-1023) {
          padding: 30px;
        }
        .title {
          color: white;
          font-size: 28px;
          text-transform: uppercase;
          margin-bottom: 5px;
          text-align: center;
          @include respond-to(w-1366) {
            font-size: 25px;
          }
          @include respond-to(w-1023) {
            font-size: 20px;
          }
        }
        .num {
          color: white;
          font-size: 50px;
          text-align: center;
          @include respond-to(w-1366) {
            font-size: 45px;
          }
          @include respond-to(w-1023) {
            font-size: 32px;
          }
        }
        .js_calc_ok {
          @include button_reset;
          width: 250px;
          height: 50px;
          border-radius: 10px;
          background-color: $color-brown;
          color: $color-white;
          font-size: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 30px auto 0;
          @include respond-to(w-1023) {
            border-radius: 0;
            font-size: 21px;
            margin: 20px auto 0;
          }
        }
      }
    }
  }
}
.section_available {
  padding: 6vw;
  @include img_cover('../images/avai_fon.jpg');
}
.section_imagetext {
  padding: 6vw 0 0;
  .contain {
    .block {
      margin: auto;
      display: flex;
      background-color: $color-white;
      @include respond-to(w-799) {
        flex-direction: column;
      }
      .text_block {
        width: 50%;
        color: $color-brown;
        padding: 10vw 2vw;
        font-size: 22px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @include respond-to(w-1279) {
          font-size: 19px;
        }
        @include respond-to(w-1023) {
          font-size: 17px;
          padding: 7vw 2vw;
        }
        @include respond-to(w-799) {
          width: 100%;
        }
        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          @include img_cover("../images/imagetext_fon.jpg");
          @include position_abs;
        }
        .texts {
          width: 70%;
          position: relative;
          z-index: 1;
          font-family: $font-Lora_Regular;
          @include respond-to(w-1599) {
            width: 80%;
          }
          .title {
            font-size: 30px;
            text-align: center;
            text-transform: uppercase;
            @include respond-to(w-1599) {
              font-size: 27px;
            }
            @include respond-to(w-1023) {
              font-size: 25px;
            }
          }
          .text {
            text-align: initial;
            margin-top: 30px;
            line-height: 1.6;
            @include respond-to(w-1599) {
              margin-top: 28px;
            }
          }
        }
      }
      .bn {
        width: 50%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
        @include respond-to(w-799) {
          width: 100%;
        }
        &:before {
          content: '';
          display: block;
          width: 85%;
          height: 50%;
          @include img_contain("../images/avto_graf.png");
          opacity: 0.25;
          @include respond-to(w-799) {
            width: 100%;
            height: 120px;
          }
        }
        .team_header {
          width: 70%;
          margin: 20%auto 40px;
          @include respond-to(w-1023) {
            width: 90%;
            margin: 15% auto 10px;
          }
          .block {
            width: 80%;
            margin: auto;
            background-color: transparent;
            @include respond-to(w-1023) {
              width: 90%;
            }
            @include respond-to(w-799) {
              flex-direction: row;
            }
          }
          .mini {
            font-size: 22px;
            @include respond-to(w-1599) {
              font-size: 20px;
            }
            @include respond-to(w-1023) {
              font-size: 18px;
              padding: 0 40px;
            }
          }
          .text {
            width: 80%;
            margin: 23px auto 0;
            font-size: 42px;
            color: $color-black;
            font-family: $font-Lora_Regular;
            @include respond-to(w-1599) {
              font-size: 34px;
            }
            @include respond-to(w-1023) {
              font-size: 28px;
            }
          }
          .pic {
            width: 100%;
            height: 18vw;
            @include img_contain("../images/avto_pic.png");
            margin-top: 30px;
          }
        }
      }
    }
  }
}
.section_docs {
  box-sizing: border-box;
  padding: 5vw 0;
  .block_pictext {
    .bn {
     .title {
      width: 80%;
      margin: 40px auto;
      font-size: 28px;
       @include respond-to(w-1366) {
         font-size: 25px;
       }
       @include respond-to(w-1279) {
         font-size: 23px;
       }
       @include respond-to(w-1023) {
         margin: 30px auto;
         font-size: 20px;
       }
     } 
    }
  }
}
.section_fontext {
  height: 80vh;
  @include img_cover('../images/down_fon.jpg');
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: $font-Lora_Regular;
  @include respond-to(w-1366) {
    height: 100vh;
  }
  .title {
    font-size: 60px;
    @include respond-to(w-1919) {
      font-size: 50px;
    }
    @include respond-to(w-1366) {
      font-size: 45px;
    }
    @include respond-to(w-1023) {
      font-size: 40px;
    }
  }
  .block_box {
    width: 60%;
    margin: auto;
    border: 1px solid$color-white;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 4vw;
    font-size: 30px;
    @include respond-to(w-1919) {
      font-size: 24px;
    }
    @include respond-to(w-1366) {
      padding: 15px;
      font-size: 21px;
    }
  }
  .text {
    width: 70%;
    margin: 2vw auto 0;
    font-size: 25px;
    font-family: $font-Lato_Regular;
    @include respond-to(w-1919) {
      font-size: 22px;
    }
    @include respond-to(w-1279) {
      width: 80%;
      margin: 4vw auto 0;
    }
    @include respond-to(w-1023) {
      font-size: 20px;
    }
  }
  button {
    margin: 2vw auto;
  }
}
.section_404 {
  img {
    width: 100%;
  }
}

footer {
  #map {
    height: 10vw;
    background-color: $color-yellow-lite;
  }
  .down {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -3vw;
    box-sizing: border-box;
    padding: 6vw 0 4vw;
    .bn {
      width: 25%;
      box-sizing: border-box;
      padding: 0 3vw;
      font-size: 17px;
      @include respond-to(w-1023) {
        padding: 0 2vw;
      }
      .box {
        .title {
          font-size: 22px;
          margin-bottom: 40px;
          color: $color-white;
          @include respond-to(w-1023) {
            margin-bottom: 30px;
          }
        }
        .text {
          width: 100%;
          color: $color-gray;
          display: block;
          line-height: 1.5;
        }
      }
      .nav {
        margin: 0;
        padding: 0;
        li {
          list-style-type: none;
          margin-bottom: 25px;
          a {
            @include a_reset($color-yellow);
            transition: $animation_easy;
            &:hover {
              @include a_reset($color-white);
            }
          }
        }
      }
      address {
        display: block;
        color: $color-gray;
        font-style: normal;
      }
      .contact_bn {
        p {
          color: $color-gray;
        }
        .yellow {
          @include a_reset($color-yellow);
          transition: $animation_easy;
          &:hover {
            @include a_reset($color-white);
          }
        }
      }
    }
  }
}