@import "normalize";
@import "libs";
@import "fonts";
@import "animate";
@import "node_modules/swiper/dist/css/swiper";
@import "node_modules/sweetalert2/src/sweetalert2";

/* basic */
.contain {
  max-width: 1640px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  @include respond-to(w-1023) {
    max-width: 100%;
    padding-left: 55px;
    padding-right: 55px;
  }
}
body {
  background-color: $color-brown;
  color: $color-yellow-lite;
  font-size: 20px;
  position: relative;
  font-family: $font-Lato_Regular;
}
.team_button {
  @include button_reset;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-yellow;
  color: $color-white;
  transition: $animation_easy;
  border-radius: 4px;
  font-size: 20px;
  &:hover {
    background-color: $color-white;
    color: $color-brown;
  }
}
.team_header {
  width: 50%;
  margin: 50px auto 40px;
  text-align: center;
  .block {
    display: flex;
    align-items: center;
    .line {
      width: 100%;
      height: 1px;
      background-color: $color-yellow;
    }
    .mini {
      padding: 0 55px;
      word-wrap: break-word;
      color: $color-yellow;
      font-size: 23px;
      text-transform: uppercase;
    }
  }
  .text {
    color: $color-white;
    font-size: 53px;
    text-align: center;
    margin-top: 20px;
    word-wrap: break-word;
    font-family: $font-Lora_Regular;
    text-transform: uppercase;
  }
}
.block_pictext {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  .bn {
    width: 33.3%;
    padding: 30px;
    box-sizing: border-box;
    .box {
      text-align: center;
      .image {
        @include set_contain;
        width: 105px;
        height: 105px;
        margin: auto;
      }
      .title {
        font-size: 30px;
        margin-top: 30px;
        color: $color-yellow;
        font-family: $font-Lora_Regular;
      }
      .desc {
        margin-top: 30px;
        color: $color-gray;
      }
    }
  }
}
h1, h2, h3, h4 {
  font-weight: normal;
}
/* conten */
header {
  .top {
    height: 60px;
    .contain {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .phone {
      @include a_reset($color-white);
      display: flex;
      align-items: center;
      &:before {
        content: "\f09c";
        display: block;
        @include fontawesome;
        font-size: 20px;
        color: $color-yellow;
        margin-right: 15px;
      }
      span {
        color: $color-white;
      }
    }
  }
  .logo {
    height: 100px;
    border-bottom: 1px solid#322f32;
    a {
      width: 265px;
      margin: 20px auto;
      display: block;
      img {
        width: 100%;
      }
    }
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    border-bottom: 1px solid#322f32;
    font-size: 16px;
    .mobile_menu {
      display: none;
      margin: 15px auto;
      @include respond-to(w-1023) {
        display: block;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      li {
        list-style-type: none;
        margin: 0 10px;
        a {
          @include a_reset($color-white);
        }
        .active {
          color: $color-yellow;
        }
      }
    }
  }
}
.section_main {
  @include img_cover('../images/main.jpg');
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-attachment: fixed;
  h1 {
    color: $color-white;
    text-align: center;
    font-size: 60px;
    font-family: $font-Lora_Regular;
    text-transform: uppercase;
  }
  small {
    width: 70%;
    margin: 2vw auto;
    display: block;
    text-align: center;
    font-size: 25px;
    color: $color-white;
  }
}
.section_calculate {
  padding: 6vw 0 0;
  .contain {
    display: flex;
    background-color: $color-white;
    .team_header {
      width: 50%;
      .block {
        width: 60%;
        margin: auto;
      }
      .mini {
        font-size: 30px;
      }
      .text {
        width: 80%;
        margin: 30px auto 0;
        font-size: 50px;
        color: $color-black;
        font-family: $font-Lora_Regular;
      }
      .pic {
        width: 100%;
        height: 18vw;
        @include img_contain("../images/avto_pic.png");
        margin-top: 30px;
      }
    }
    .calc_container {
      width: 50%;
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .calc_top {
        .calc_top_radio {
          padding: 40px 0;
          .ul-region {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            width: 100%;
            .li-region {
              width: 50%;
              padding: 0 40px;
              input[type=radio] {
                display: none;
                &:checked + label {
                  background: url(../images/icon-check-ok.svg) no-repeat left center;
                }
              }
              label {
                width: 70px;
                height: 60px;
                background: url(../images/icon-check.svg) no-repeat left center;
                background-size: contain;
                display: block;
                cursor: pointer;
                margin: 0 auto;
              }

              .text {
                font-size: 28px;
                color: $color-yellow;
                margin-top: 20px;
                text-align: center;
              }
              + .li-region {
                border-left: 1px solid $color-gray;
              }
            }
          }
        }

        .calc_top_inputs {
          border-top: 1px solid $color-gray;
          padding: 60px 0;
          .ul-input {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            padding: 0;
            margin: 0;
            justify-content: space-between;
            width: 90%;
            .li-input-calc {
              width: 45%;
              margin-bottom: 50px;
              box-sizing: border-box;
              .calc-ui-slider-val {
                .title {
                  text-transform: uppercase;
                  font-size: 18px;
                  color: $color-gray;
                  margin-bottom: 15px;
                }
                .num {
                  font-size: 30px;
                  color: $color-gray;
                  margin-bottom: 15px;
                  display: flex;
                  position: relative;
                  span {
                    margin-right: 5px;
                  }
                  input {
                    width: 100%;
                    color: inherit;
                    font-family: inherit;
                    padding: 0;
                    border: none;
                  }
                  .cost-txt {
                    position: absolute;
                    right: 0;
                    top: 10px;
                  }
                }
                .num_error {
                  position: relative;
                }
              }
              .calc-ui-slider {
                position: relative;
              }
              .calc-ui-slider, .calc-line {
                border-radius: 0;
                border: none;
                height: 2px;
                background: $color-gray;
                .ui-widget-header {
                  background: #0E2231;
                  border-radius: 0;
                }
                .ui-slider-handle {
                  position: absolute;
                  background: url(../images/icon-slider.svg) no-repeat center top;
                  background-size: contain;
                  width: 24px;
                  height: 24px;
                  border: none;
                  outline: none;
                  top: 0;
                  margin-left: -12px;
                  cursor: pointer;
                  display: block;
                }
              }
              input {
                width: 100%;
                height: 60px;
                background-color: #FFFFFF;
                padding: 0 20px !important;
                border-radius: 10px;
                border: none;
                font-size: 30px;
                color: #888888;
              }
            }
          }
        }
      }
      .calc_bottom {
        background-color: $color-yellow;
        background-size: cover;
        padding: 40px;
        .title {
          color: white;
          font-size: 28px;
          text-transform: uppercase;
          margin-bottom: 5px;
          text-align: center;
        }
        .num {
          color: white;
          font-size: 50px;
          text-align: center;
        }
        .js_calc_ok {
          @include button_reset;
          width: 250px;
          height: 50px;
          border-radius: 10px;
          background-color: $color-brown;
          color: $color-white;
          font-size: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 30px auto 0;
        }
      }
    }
  }
}
.section_available {
  padding-top: 7vw;
  @include img_cover('../images/avai_fon.jpg');
}
.section_imagetext {
  margin: 6vw 0 1vw;
  .contain {
    background-color: $color-yellow-lite;
    padding: 2vw 0;
    box-sizing: border-box;
    .team_header {
      width: 50%;
      .block {
        width: 60%;
        margin: auto;
      }
      .mini {
        font-size: 30px;
      }
      .text {
        width: 50%;
        margin: 30px auto 0;
        font-size: 50px;
        color: $color-black;
        font-family: $font-Lora_Regular;
      }
      .pic {
        width: 100%;
        height: 18vw;
        @include img_contain("../images/avto_pic.png");
        margin-top: 30px;
      }
    }
    .block {
      width: 90%;
      margin: auto;
      display: flex;
      .bn {
        width: 50%;
        color: $color-brown;
        padding: 50px;
        font-size: 22px;
        .image {
          height: 10vw;
        }
      }
    }
  }
}
.section_docs {
  box-sizing: border-box;
  padding: 5vw 0;
}
.section_404 {
  img {
    width: 100%;
  }
}

footer {
  #map {
    height: 10vw;
    background-color: $color-yellow-lite;
  }
  .down {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -3vw;
    box-sizing: border-box;
    padding: 6vw 0 4vw;
    .bn {
      width: 25%;
      box-sizing: border-box;
      padding: 0 3vw;
      font-size: 17px;
      .box {
        .title {
          font-size: 22px;
          margin-bottom: 40px;
          color: $color-white;
        }
        .text {
          width: 100%;
          color: $color-gray;
          display: block;
          line-height: 1.5;
        }
      }
      .nav {
        margin: 0;
        padding: 0;
        li {
          list-style-type: none;
          margin-bottom: 25px;
          a {
            @include a_reset($color-yellow);
            transition: $animation_easy;
            &:hover {
              @include a_reset($color-white);
            }
          }
        }
      }
      address {
        display: block;
        color: $color-gray;
        font-style: normal;
      }
      .contact_bn {
        p {
          color: $color-gray;
        }
        .yellow {
          @include a_reset($color-yellow);
          transition: $animation_easy;
          &:hover {
            @include a_reset($color-white);
          }
        }
      }
    }
  }
}