@font-face {
  font-family: 'Lora_Regular';
  src: url('../fonts/lora/ttf/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
$font-Lora_Regular: 'Lora_Regular';

@font-face {
  font-family: 'Lato_Regular';
  src: url('../fonts/lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
$font-Lato_Regular: 'Lato_Regular';